*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
html,body{
    width: 100%;
}
#main{
    background-color: black;
}
#miniCircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
    z-index: 99999;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;

}

.landingPage{
    position: relative;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-size: larger;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingElem{
    transform: translateY(100%);
    
}
#pageHeading{
    margin-left: 100px;
}
#pageHeading h1{
    font-size: 11vw;
    font-weight: 600;
    opacity: .6;
}
#pageHeading #secondH1{
    margin-left: 80px;
}
.secondText{
    width: fit-content;
}
.secondText{
    text-align: right;
}
.rightText{
    display: flex;
    width: 100%;
    justify-content: right;
}

#landingPageFooter{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: space-around;
    margin-top: 100px;
    opacity: 0;
}
#landingPageFooter a{
    text-decoration: none;
}
#iconset{
    display: flex;
}
#iconset .circle{ 
    height: 50px;  
    width: 20px;
    opacity: 0.7;
}

.secondPage{
    background-color: black;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #888;
    font-size: 40px;
    opacity: 0.6;
    padding: 50px 50px;
}
.secondPage hr{
    opacity: 0.2;
}
.elem img{
    opacity: 0;
    position: absolute;
    z-index: 999;
    height: 100%;
}

.thirdPage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10vw 10vw;
}
.thirdPage img{
    height: 250px;
    padding-left: 500px;
}
#aboutText h5{
    opacity: 0.8;
}
#aboutText{
    width: 20rem;
}
#aboutText p{
    margin-bottom: 40px;
    line-height: 1.4;
}
#aboutText a{
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 22px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.subscribe{
    opacity: 0.8;
    margin-bottom: 50px;
    padding-left: 10px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftFooter{
    display: flex;
    gap: 20px;
}
.rightFooter{
    display: flex;
    gap: 20px;
}
.rightFooter a{
    text-decoration: none;
}
